<ngx-spinner bdColor="rgba(51,51,51,0.45)" size="medium" color="#fff" type="ball-pulse-sync">
</ngx-spinner>
<div *ngIf="jobs$" id="JobsList" class="row search-results" infiniteScroll [infiniteScrollDistance]="1"
    [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()" (scrolledUp)="onUp()">
    <div class="col-sm-12 content">
        <ul class="searchlist" *ngFor="let job of jobs$ | async; let index = index">
            <li class="active1">
                <span class="featured-card">Featured</span>
                <div class="row">
                    <div class="col-sm-4 col-lg-2 col-4">
                        <div class="doc-image rounded-circle">
                            <img src="{{'./assets/images/'+job.imageURL}}" class="img-fluid image" width="78"
                                height="78" alt="{{job.company}}" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-6 col-4 cardBorder">
                        <div class="doc-details">
                            <h5 class="m-0 h51" id="{{'comp' + index}}">{{job.company}}</h5>
                            <p class="grey-text txt-uppercase">Profile: {{job.profileType}}</p>
                            <span class="salary">Salary: {{job.annualSalary}}</span>
                            <p id="{{'des' + index}}">{{job.designation}}</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-4">
                        <i class="fa fa-times cross" id="{{job._id}}" (click)="removeJob()"></i>
                        <i class="fa fa-edit cross" (click)="addJob()" id="{{job._id}}"></i>
                        <div>
                            <span class="font14 font-medium">Venue: {{job.venue}}</span>
                        </div>
                        <div>
                            <span class="font14 font-medium">Location: {{job.city}}</span>
                        </div>
                        <div>
                            <h5 class="m-1">Status: {{job.status}}</h5>
                        </div>
                    </div>
                    <button type="button" class="btn1" name="{{job._id}}" id="{{'btn' + index}}" (click)="apply()">
                        Apply
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>